/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  Margin: 2%;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header a {
  padding-right: 5%;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
.Top-section-index {
  background-color: #dfd3eb;
  padding: 5%;
}
.Top-section-index h1 {
  font-size: 2.8rem;
}
.Top-section-index p {
  font-size: 1.2rem;
  margin-top: 3%;
}
.Top-section-index hr {
  margin-top: 3%;
}
.Top-section-index button {
  color: white;
  background-color: #73c796;
  padding: 2%;
  margin-top: 3%;
}
.middle-section-index {
  margin-top: 3%;
}
.middle-container-index {
  display: flex;
  justify-content: space-between;
}
.middle-container-index .middle-conatiner-column-index {
  width: 48%;
}
.middle-container-index .middle-conatiner-column-index h1 {
  font-size: 2rem;
}
.middle-container-index .middle-conatiner-column-index p {
  font-size: 1.2rem;
  margin-top: 3%;
}
.middle-container-index .middle-conatiner-column-index ul {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
.middle-container-index .middle-conatiner-column-index ul li {
  border: 1px solid #cfc3db;
  background-color: #dfd3eb;
  font-size: 1.2rem;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
}
